TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_BOT_USERNAME=
TWITCH_CHANNEL=
HTTP_ADDR=:7310
DATABASE_PATH=./porygon.db

# Written by the OAuth callback after authentication
TWITCH_BOT_ACCESS_TOKEN=
TWITCH_BOT_REFRESH_TOKEN=
TWITCH_STREAMER_ACCESS_TOKEN=
TWITCH_STREAMER_REFRESH_TOKEN=
